@model WebApplication1.Models.TblMarca
@{
    ViewBag.Title = "Agregar Marca";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("agregarMarca", "Marca", FormMethod.Post))
{
    <div class="mb-3 mt-3">
    @Html.LabelFor(m => m.Marca)
    @Html.TextBoxFor(m => m.Marca, new { @class = "form-control" })
    </div>


<button type="submit" class="btn btn-primary">Agregar Marca</button>
}

