
@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>

<div class="jumbotron" align="center">
    <h1>Seleccione la consulta que desea ver</h1>

    <p>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Empleados", "Index", "EmpleadoI")</li>
            <li>@Html.ActionLink("Cargos", "Index", "CargoI")</li>
            <li>@Html.ActionLink("Clinicas", "Index", "ClinicaI")</li>
        </ul>
    </p>
</div>


<p></p>

