@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Arsha Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">


    <link href="~/Content/nuevo/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/nuevo/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/nuevo/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/nuevo/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/nuevo/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/nuevo/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/nuevo/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Arsha - v4.9.1
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Grupo 5</h1>
                    <h2>Universidad Mariano Galvez de Guatemala</h2>

                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/images/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>

    <main id="main">


        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Servicios utilizados</h2>
                    <p>Servicios utilizados para este aplicativo</p>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="">GitHub</a></h4>
                            <p>como parte de la carga de archivos compartidos para su desarrollo</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="">Azure</a></h4>
                            <p>como Base de datos para nuestro aplicativo</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4><a href="">Api Rest</a></h4>
                            <p>para uso y manejo de datos externos</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">visual studio 2022</a></h4>
                            <p>como IDE predefinido para la creacion de el Fron-end</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->

        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Grupo 5 Desarrollo web</h2>
                    <p>Grupo de Futuros ingenieros en sistemas, con la creacion de un sitio de pagina web activo</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Hector Rodrigo Vasquez Morales</h4>
                                <span>Desarollador Back-End</span>
                                <div class="social">
                                    <!--<a href=""><i class="ri-twitter-fill"></i></a> -->
                                    <!--<a href=""><i class="ri-facebook-fill"></i></a> -->
                                    <a href="https://github.com/GhostManV"><i class="ri-github-fill"></i></a>
                                    <!--<a href=""> <i class="ri-linkedin-box-fill"></i> </a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Ericka Del Rosario Gonzalez Acuta</h4>
                                <span>Desarollador Back-End</span>
                                <div class="social">
                                    <!--<a href=""><i class="ri-twitter-fill"></i></a> -->
                                    <!--<a href=""><i class="ri-facebook-fill"></i></a> -->
                                    <a href="https://github.com/amer7361"><i class="ri-github-fill"></i></a>
                                    <!--<a href=""> <i class="ri-linkedin-box-fill"></i> </a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Mario Javier Minches Muñoz</h4>
                                <span>Desarollador Back-End</span>
                                <div class="social">
                                    <!--<a href=""><i class="ri-twitter-fill"></i></a> -->
                                    <!--<a href=""><i class="ri-facebook-fill"></i></a> -->
                                    <a href="https://github.com/blitxs1226"><i class="ri-github-fill"></i></a>
                                    <!--<a href=""> <i class="ri-linkedin-box-fill"></i> </a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>José Eduardo Amaya Pivaral</h4>
                                <span>Desarollador Front-End</span>
                                <div class="social">
                                    <!--<a href=""><i class="ri-twitter-fill"></i></a> -->
                                    <!--<a href=""><i class="ri-facebook-fill"></i></a> -->
                                    <a href="https://github.com/t1jp"><i class="ri-github-fill"></i></a>
                                    <!--<a href=""> <i class="ri-linkedin-box-fill"></i> </a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Jorge Carlos Najera Castañeda</h4>
                                <span>Desarollador Front-End</span>
                                <div class="social">
                                    <!--<a href=""><i class="ri-twitter-fill"></i></a> -->
                                    <!--<a href=""><i class="ri-facebook-fill"></i></a> -->
                                    <a href="https://github.com/jnajerac3carlos"><i class="ri-github-fill"></i></a>
                                    <!--<a href=""> <i class="ri-linkedin-box-fill"></i> </a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Cindy Marisol Arana Figueroa</h4>
                                <span>Desarollador Front-End</span>
                                <div class="social">
                                    <!--<a href=""><i class="ri-twitter-fill"></i></a> -->
                                    <!--<a href=""><i class="ri-facebook-fill"></i></a> -->
                                    <a href="https://github.com/cindyarana"><i class="ri-github-fill"></i></a>
                                    <!--<a href=""> <i class="ri-linkedin-box-fill"></i> </a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->


    </main><!-- End #main -->
    
 

</body>

</html>