@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clinicas</h1>
    <p class="lead">Proyecto final de Desarrollo web</p>
    <p><a href="https://github.com/GhostManV/Proyecto-Desarrollo-Web.git" class="btn btn-primary btn-lg">Repositorio GitHub &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Informacion de Clinica Web</h2>
        <p>Tue puedes obtener informacion de manera rapida</p>
        <p><a class="btn btn-default" href="https://laboratoriojuanpabloymerced.com/">mas informacion &raquo;</a></p>
    </div>
</div>