
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>

<div class="jumbotron" align="center">
    <h1>Seleccione la consulta que desea ver</h1>

    <p>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Menu", "Index", "MenuI")</li>
            <li>@Html.ActionLink("Roles", "Index", "Role")</li>
            <li>@Html.ActionLink("Usuario", "Index", "UsuarioI")</li>
        </ul>
    </p>
</div>


<p></p>

