
<table class="table">
    <thead>
        <th>No Habitacion</th>
        <th>Clinica</th>
        <th>Cantidad Maxima de Personas</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.NoHabitacion</td>
            <td>@item.Clinica</td>
            <td>@item.CantidadMaxPacientes</td>
   
    </tr>
}
    </tbody>
</table>