<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2459cf21-f211-45d3-b0a6-102b29614813/resourceGroups/Proyecto_Desarrollo_Web/providers/Microsoft.ContainerRegistry/registries/ApiClinica</ResourceId>
    <ResourceName>ApiClinica</ResourceName>
    <ResourceGroup>Proyecto_Desarrollo_Web</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://apiclinica.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b1c75b32-1b34-4bac-9d14-4f3516792f8e</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>